.all-content {
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  background-color: #f3d3e44d;
  .main-content {
    figure {
      max-width: 450px;
      margin-bottom: 3rem;
    }
    p {
      font-size: 1.5rem;
      line-height: 2.5rem;
      font-weight: bolder;
      text-transform: capitalize;
      letter-spacing: 0.025rem;
      word-spacing: 0rem;
      color: #303045;
      @media (max-width: 37.5em) {
        font-size: 1.2rem;
      }
    }
  }
}
